

html {
    background-color: #f4f4f4;
}


button {
    /* padding: 20px 20px; */
    width: 80px;
    height: 80px;
}

.container{
    display: flex;
    width: 320px;
    flex-wrap: wrap;
    margin: 0 auto;
}

#result{
    width: 320px;
    height: 80px;
    outline: auto;
    font-size: 53px;
    text-align: right;
    line-height: 80px;
    background-color: white;
}

.delete{
    background-color: red;
}
.num, .decimal, .operator, .special{
    background-color: lightblue;
}

.equals{
    background-color: lightblue;
}

p {
    text-align: center;
}